doctype html
html
  head
    title MJ Dance Academy
    block scripts
    block style
  body
    nav#navbar
        div#logo
            img(src="https://cdn.pixabay.com/photo/2018/04/09/16/59/silhouette-3304680_960_720.png")
            | MJD
        ul
            li #[a(href = "/" ) Home]
            li #[a(href = "/" ) About]
            li #[a(href = "/" ) Services]
            li #[a(href = "/" ) Class Info]
            li #[a(href = "/contact" ) Contact Us]
        div 

    block content
    footer#footer
      | Copyright © 2021 MJDanceAcademy.com | All Rights Reserved